<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<div *ngIf="messages.length > 0">
  <table>
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Peer ID</th>-->
<!--      <th>Addresses</th>-->
<!--    </tr>-->
<!--    </thead>-->
    <tbody>
    <div *ngIf="messages">
      <table>
        <tr *ngFor="let message of messages">
          <td>{{ message}}</td>
        </tr>
      </table>
    </div>

    </tbody>
  </table>
</div>
<!--<ng-template #noPeers>-->
<!--  <p>No peers found.</p>-->
<!--</ng-template>-->
</body>
</html>
