.toolbar {
  background-color: #0b0b2f;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
  margin-right: 70px;
}

.host-id {
  font-size: 1em;
  color: #FFF;
  margin-left: 20px;
  margin-top: 10px
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.panel {
  border: 1px solid #ddd;
  padding: 10px;
  flex: 1;
  margin: 10px;
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  word-break: break-word;
}

li:hover {
  background-color: #f8f9fa;
}

li.selected {
  background-color: #4e5fec;
  color: white;
}

.actions {
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #06104b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[disabled] {
  background-color: #ccc;
}
